services:
  port-db:
    build: ./port-db
    restart: always
    container_name: port-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      SCRIPTS_DIR: ${SCRIPTS_DIR:-/scripts}
    ports:
      - "5432:5432"
    networks:
      - compose_net
    volumes:
      - postgres_data:/var/lib/postgresql/data

  seq:
    image: datalust/seq:latest
    restart: always
    container_name: seq
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_ADMINPASSWORD: ${SEQ_FIRSTRUN_ADMINPASSWORD}
    ports:
      - "5341:80"
    volumes:
      - seq-data:/data
    networks:
      - compose_net

  port-core:
    build: ./port-core
    restart: always
    container_name: port-core
    environment:
      DOTNET_CONFIGURATION: ${DOTNET_CONFIGURATION}
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__portDbPostgres: ${PORTDB_CONNECTIONSTRING}
      JWT__Issuer: ${JWT_ISSUER}
      JWT__Audience: ${JWT_AUDIENCE}
      JWT__Secret: ${JWT_SECRET}
      Serilog__WriteTo__2__Args__serverUrl: ${SEQ_URL}
    ports:
      - "5000:5000"
    depends_on:
      port-db:
        condition: service_started
      seq:
        condition: service_started
    networks:
      - compose_net

networks:
  compose_net:

volumes:
  seq-data:
  postgres_data:
